<video autoplay muted loop id="myVideo">
    <source src="/video/about.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
</video>

<div class="about">
    @{
        ViewData["Title"] = "About";
    }
    <h1>@ViewData["Title"]</h1>
    <hr class="line" />
    <div class="rowProd">
        <div class="column-2 desc">
            <p>&#10026; Description it company activities in the world of business and the company's activities</p>
            <p>&#10026; Global business environment</p>
            <p>&#10026; A company has a global presence</p>
            <p>&#10026; Powerful team work</p>
            <p>&#10026; Subsidiaries located in many countries around the globe</p>
            <p>&#10026; Global network</p>
        </div>
        <div class="column-2 desc">
            <h4>Our company has many advantages for our clients. We have a great reputation and are known for our quality products and services. We have a large selection of products and services that our clients can choose from. We also have a team of experienced and knowledgeable staff who can help our clients with any questions or concerns they may have. Our company also has a money back guarantee so that our clients can be sure they are getting the best possible value for their money.</h4>
        </div>
    </div>

</div>
