<div class="rowProd">
    <div class="ourContacts column-2">
        @{
            ViewData["Title"] = "Contact";
        }
        <h2>@ViewData["Title"]</h2>
        <hr class="line" />
        <h3>@ViewData["Message"]</h3>
        <address>
            One WebStore Adress<br />
            SomeSity, QA 11122-3333<br />
            <abbr title="Phone">P:</abbr>
            111.222.0303
        </address>
        <address>
            <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <iframe class="map column-2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d165950.16050174492!2d-115.87610989795478!3d37.29665929256487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80b81baaba3e8c81%3A0x970427e38e6237ae!2z0JDRgNC10Y8gNTEsINCd0LXQstCw0LTQsCwg0KHQqNCQ!5e0!3m2!1sru!2sua!4v1676120655302!5m2!1sru!2sua" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>