@model WebApplication117.Models.ProductModel
<h2>Delete product</h2>

<div>

    <form asp-action="Delete">
        <input type="submit" value="Confirm Delete" />
    </form>
    <h2 class="btn"><a asp-controller="Home" asp-action="Index">Main page</a></h2>
</div>